<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="../../../assets/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <!-- Logo -->
                  <div class="logo">
                     <h1><a>Welcome {{name}}</a></h1>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="row">
                    <div class="col-lg-12 " style="margin-left:0%">
                      <div class="input-group form">
                           <span class="input-group-btn">
                          <button class="btn btn-primary" type="button">Course Name : {{courseName}}</button>
                           </span> 
                      </div>
                    </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="navbar navbar-inverse" role="banner">
                      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav" >
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                            <ul class="dropdown-menu animated fadeInUp">
                                <li><a routerLink="#" (click)="dashboard()">Dashboard</a></li>
                              <li><a routerLink="#" (click)="logout()">Logout</a></li>
                            </ul>
                          </li>
                        </ul>
                      </nav>
                  </div>
               </div>
            </div>
         </div>
    
    </div>
    <div class="row">
  <div class="col-sm-3">
    <video-list (SelectVideo)="onSelectVideo($event)" [videos]="videos"></video-list>
  </div>
  <div class="col-sm-9">
      <video-detail *ngIf="selectedVideo" [video]="selectedVideo"></video-detail>
  </div>
</div> 
</body>
</html>