<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 
   <div>
     <nav class="navbar navbar-inverse">
         <div class="container-fluid">
           <div class="navbar-header">
           <a class="navbar-brand">E-learning</a>
           </div>
           <ul class="nav navbar-nav">
           <li><a routerLink='/home'>Home</a></li>
           <li ><a routerLink='/courses'>Courses</a></li>
           
           </ul>
           <ul class="nav navbar-nav navbar-right">
           <li class="active"><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
           <li ><a routerLink="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
           </ul>
         </div>
         </nav>
       </div>
 
 <!-- App component -->

 <div class="container">
  <h1>Register</h1>
  <p>Please fill in this form to create an account.</p>
  

<div class="layout" style="background-size:100% auto" >
  <div class="py-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <span class="anchor" id="formLogin"></span>
  <hr>
        <!-- form card login -->
        <div class="card rounded-0">
          <div class="card-body">
            <form class="form" #registerform = "ngForm">
              <div class="form-group">
                <label for="username"><strong>Full Name</strong></label>
                <input type="text" [(ngModel)]="registerUserData.username" id = "username" name="username" class="form-control" required pattern="[a-zA-Z]+( )*[a-zA-Z]*" #username = "ngModel" >
              <div *ngIf = "username?.errors && (username?.dirty || username?.touched)" class = "alert alert-danger">
                <div [hidden]= "!username?.errors.required">
                    Name is required
                </div>
              </div>
              </div>
              <div class="form-group">
                <label><strong>Email</strong></label>
                <input type="text" [(ngModel)]="registerUserData.email" id ="email" name="email" class="form-control"  required  pattern="[a-zA-Z][a-zA-Z0-9]*(@)[a-zA-z]+(.)(com|co.in|in|org)" #email = "ngModel">
                <div *ngIf = "email?.errors && (email?.dirty || email?.touched)" class = "alert alert-danger">
                  <div [hidden]= "!email?.errors.required">
                      Must be required
                  </div>
                  <div [hidden]= "!email?.errors.valid">
                    Enter valid email
                </div>
              </div>
            </div>
      
              <div class="form-group">
                <label><strong>Password</strong></label>
                <input type="password" id ="password" [(ngModel)]="registerUserData.password" name="password" class="form-control"  required minlength = 6 #password = "ngModel">
                <div *ngIf = "password?.errors && (password?.dirty || password?.touched)" class = "alert alert-danger">
                  <div [hidden]= "!password?.errors.required">
                      Password is required
                  </div>
                  <div [hidden]= "!password?.errors.minlength">
                        Password must be atleast 6 characters long.
                  </div>
                </div>
              </div>
              
              <div class="form-group"style="width: 210%;">
              <div style="margin-left:42%">
                <input type="radio" name="radio" value="Instructor" [(ngModel)]="type_of_user" required> Instructor &ensp;&ensp;
                <input type="radio" name="radio" value="Student" [(ngModel)]="type_of_user">Student
                <br>
                </div>
              </div>

              <button type="button"  [disabled]= "!registerform.valid" (click)="registerUser()" class="btn btn-primary float-right registerbtn">Register</button>
            </form>
            <hr>
            <div class="container signin">
              <p>Already have an account? <a routerLink='/signin'>Sign in</a>.</p>
            </div>
            </div>
        
          <!--/card-block-->
        </div>
        <!-- /form card login -->
  
      </div>
  
  
    </div>
  </div>
  </div>

  </div>