<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="../../../assets/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <!-- Logo -->
                  <div class="logo">
                     <h1><a>{{a}}</a></h1>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="logo">
                               <u><h1><a> {{type_of_user}}</a></h1></u>
                      </div>
                    </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="navbar navbar-inverse" role="banner">
                      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav" >
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                            <ul class="dropdown-menu animated fadeInUp">
                              <li><a routerLink="#" (click)="logout()">Logout</a></li>
                            </ul>
                          </li>
                        </ul>
                      </nav>
                  </div>
               </div>
            </div>
         </div>
    </div>

    <div class="page-content">
        <div class="row">
          <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a routerLink="/dashboard"><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                    <li *ngIf='type_of_user=="Instructor"'><a routerLink="/addcourses" href="#"><i class="glyphicon glyphicon-pencil"></i>Add Courses</a></li>
                    <li class="current"><a><i class="glyphicon glyphicon-home"></i>My Profile</a></li>
                </ul>
             </div>
             
          </div>
          <div class="col-md-10">
            <div class="row">

                    <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6" *ngIf="show">
                                    <div class="well well-sm">
                                        <div class="row">
                                            
                                            <div class="col-sm-12 col-md-12">
                                    
                                                <h2>{{registerUserData.name}}</h2>
                                                <h4>
                                                <small><cite title="Place">{{registerUserData.state}}, {{registerUserData.country}} <i class="glyphicon glyphicon-map-marker">
                                                </i></cite></small>
                                                <p>
                                                    <i class="glyphicon glyphicon-envelope"></i>{{registerUserData.email}}
                                                    <br />
                                                    <i class="glyphicon glyphicon-gift"></i>{{registerUserData.dob}}
                                                    <br />
                                                    <i class="glyphicon glyphicon-phone"></i>{{registerUserData.mobile}}
                                                    <br/>
                                                    <i class="glyphicon glyphicon-education"></i>{{registerUserData.education}}
                                                    <br/>
                                                  </p> </h4>
                                                  <button class="btn" (click)="edit()">Edit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
              
              <div *ngIf="!show">
                      <div class="container">
                              <div class="row">
                                  <div class="col-xs-12 col-sm-6 col-md-6">
                                      <div class="well well-sm">
                    <div class="layout" style="background-size:100% auto" >
                      <div class="py-5">
                        <div class="row">
                          <div class="col-md-6 mx-auto">
                            <span class="anchor" id="formLogin">
                                    <h4>Edit Profile</h4>
                            </span>
                      <hr>
                            <!-- form card login -->
                            <div class="card rounded-0">
                              <div class="card-body">
                                
                                  <form class="form" #registerform = "ngForm">
                                      <div class="form-group">
                                        <label><strong>Email</strong></label>
                                        <input type="text" [(ngModel)]="registerUserData.email" id ="email" name="email" class="form-control"  required  pattern="[a-zA-Z]+(a-zA-Z0-9)*(@)[a-zA-z]+(.)(com|co.in|in|org)" #email = "ngModel">
                                        <div *ngIf = "email?.errors && (email?.dirty || email?.touched)" class = "alert alert-danger">
                                          <div [hidden]= "!email?.errors.required">
                                             Email must be required
                                          </div>
                                          <div [hidden]= "!email?.errors.valid">
                                            Enter valid email
                                        </div>
                                        </div>
                                    </div>
                              
                                      <div class="form-group">
                                        <label><strong>Password</strong></label>
                                        <input type="password" id ="password" [(ngModel)]="registerUserData.password" name="password" class="form-control"  required minlength = 6 #password = "ngModel">
                                        <div *ngIf = "password?.errors && (password?.dirty || password?.touched)" class = "alert alert-danger">
                                          <div [hidden]= "!password?.errors.required">
                                              Password is required
                                          </div>
                                          <div [hidden]= "!password?.errors.minlength">
                                                Password must be atleast 6 characters long.
                                          </div>
                                        </div>
                                      </div>
                                      
                                      <div class="form-group">
                                          <label for="state"><strong>State</strong></label>
                                          <input type="text" [(ngModel)]="registerUserData.state" id = "state" name="state" class="form-control" pattern="[a-zA-Z]+( )*[a-zA-Z]*" #state = "ngModel" >
                                        <div *ngIf = "state?.errors && (state?.dirty || state?.touched)" class = "alert alert-danger">
                                        </div>
                                        </div>
                                      
                                        <div class="form-group">
                                            <label for="country"><strong>Country</strong></label>
                                            <input type="text" [(ngModel)]="registerUserData.country" id = "country" name="country" class="form-control" pattern="[a-zA-Z]+( )*[a-zA-Z]*" #country = "ngModel" >
                                          <div *ngIf = "country?.errors && (country?.dirty || country?.touched)" class = "alert alert-danger">
                                          </div>
                                          </div>

                                          <div class="form-group">
                                              <label for="mobile"><strong>Mobile Number</strong></label>
                                              <input type="text" [(ngModel)]="registerUserData.mobile" id = "mobile" name="mobile" class="form-control" pattern="[6-9][0-9]+" minlength = 8 maxlength = 15 #mobile = "ngModel" >
                                            <div *ngIf = "mobile?.errors && (mobile?.dirty || mobile?.touched)" class = "alert alert-danger">
                                            </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="dob"><strong>Date Of Birth</strong></label>
                                                <input type="date" [(ngModel)]="registerUserData.dob" id = "dob" name="dob" class="form-control" #dob = "ngModel" >
                                              </div>

                                              <div class="form-group">
                                                  <label for="education"><strong>Highest Qualification</strong></label>
                                                  <input type="text" [(ngModel)]="registerUserData.education" id = "education" name="education" class="form-control" #education = "ngModel" >
                                                </div>
                        
                                      <button type="button"  [disabled]= "!registerform.valid" (click)="changes()" class="btn btn-primary float-right registerbtn btn1">Save</button>
                                    </form>

                                </div> 
                            
                              <!--/card-block-->
                            </div>
                            <!-- /form card login -->
                      
                          </div>
                        </div>
                      </div>
                  </div>
                  </div>
                  </div>
                  </div>
                  </div>
              </div>
              
            </div>  
          </div>
        </div>
    </div>
  </body>
</html>