<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="../../../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="../../../assets/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
         <div class="container">
            <div class="row">
               <div class="col-md-5">
                  <!-- Logo -->
                  <div class="logo">
                     <h1><a>Welcome {{name}}</a></h1>
                  </div>
               </div>
               <div class="col-md-5">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="input-group form">
                           <span class="input-group-btn">
                             <button class="btn btn-primary" type="button">{{type_of_user}}</button>
                           </span> 
                      </div>
                    </div>
                  </div>
               </div>
               <div class="col-md-2">
                  <div class="navbar navbar-inverse" role="banner">
                      <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                        <ul class="nav navbar-nav" >
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                            <ul class="dropdown-menu animated fadeInUp">
                              <li><a routerLink="#" (click)="logout()">Logout</a></li>
                            </ul>
                          </li>
                        </ul>
                      </nav>
                  </div>
               </div>
            </div>
         </div>
    </div>

    <div class="page-content">
        <div class="row">
          <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li class="current"><a><i class="glyphicon glyphicon-home"></i> Dashboard</a></li>
                    
                    <li *ngIf='type_of_user=="instructor"'><a href="#"><i class="glyphicon glyphicon-calendar"></i> Add Courses</a></li>
                
                    
                </ul>
             </div>
             
          </div>
          <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-box-large">
                        <div class="content-box-header">
                            <div class="panel-title">Available Courses</div>
                            
                            
                        </div>
                        <ul class="list-group">
                            <a class="list-group-item" style="cursor:pointer" *ngFor="let course of available_courses;index as i;">
                               <h5>Course Name: <b>{{course}}</b></h5>
                               <h5>Instructor Name: <b>{{instructor_name[i]}}</b></h5>
                               <button class="btn btn-success" type="submit" id="{{course_id[i]}}" (click)="onAddCourse($event)">Register</button>
                            </a>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="content-box-header">
                                <div class="panel-title">My Courses</div>      
                            </div>
                            <div class="content-box-large box-with-header">
                                <ul class="list-group">
                                    <a class="list-group-item" style="cursor:pointer" *ngFor="let mycourse of mycourses">
                                                                     {{mycourse}} <br><br>
                                    </a>
                                </ul>
                            </div>
                        </div>
                    </div>  
                </div>
            </div>  
          </div>
        </div>
    </div>
  </body>
</html>