<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 
   <div>
     <nav class="navbar navbar-inverse">
         <div class="container-fluid">
           <div class="navbar-header">
           <a class="navbar-brand">E-learning</a>
           </div>
           <ul class="nav navbar-nav">
           <li><a routerLink='/home'>Home</a></li>
           <li ><a routerLink='/courses'>Courses</a></li>
           
           </ul>
           <ul class="nav navbar-nav navbar-right">
           <li><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
           <li class="active"><a routerLink="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
           </ul>
         </div>
         </nav>
         
       </div>
    
 
 <!-- App component -->

<div *ngIf="show">
<form>
    <div class="container">
      <h1>Login</h1>
      <p>Please login to your account.</p>
      <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" id="user" [(ngModel)]="user" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" [(ngModel)]="pwd" placeholder="Enter Password" name="psw" required>
  
   
      <hr>
    
    <button type="submit" class="loginbtn" (click)="getLogin()">Login</button>
    </div>
  </form>

    <div class="container signup">
      <p>Don't have an account? <a routerLink='/signup'>Sign up</a>.<br>
      <a (click)="forgotpassword()" routerLink="/signin">Forgot Password</a></p>
    </div>
</div>

<div *ngIf="show1">
  <form>
    <div class="container">
      <h1>Enter Email</h1>
      <p>Please enter a registered email.</p>
      <hr>
      <div class="card rounded-0">
        <div class="card-body">
          <form class="form" #registerform = "ngForm">  
            <div class="form-group">
              <label><strong>Email</strong></label>
              <input type="text" [(ngModel)]="registerUserData.email" id ="email" name="email" class="form-control"  required  pattern="[a-zA-Z][a-zA-Z0-9]*(@)[a-zA-z]+(.)(com|co.in|in|org)" #email = "ngModel">
              <div *ngIf = "email?.errors && (email?.dirty || email?.touched)" class = "alert alert-danger">
                <div [hidden]= "!email?.errors.required">
                    Must be required
                </div>
                <div [hidden]= "!email?.errors.valid">
                  Enter valid email
              </div>
            </div>
          </div>
      </form>
      </div>
      </div>
  
      <hr>
      <button type="button"  [disabled]= "!registerform.valid" (click)="getpasswordchange()" class="btn btn-primary float-right registerbtn loginbtn">Submit</button>
    </div>
  </form>
</div>


<div *ngIf="show2">
  <form>
    <div class="container">
      <h1>Forgot Password</h1>
      <p>Please create new password to login.</p>
      <hr>
      <div class="card rounded-0">
        <div class="card-body">
          <form class="form" #registerform = "ngForm">  
      <div class="form-group">
        <label><strong>Password</strong></label>
        <input type="password" id ="password1" [(ngModel)]="registerUserData.password" name="password1" class="form-control"  required minlength = 6 #password = "ngModel">
        <div *ngIf = "password?.errors && (password?.dirty || password?.touched)" class = "alert alert-danger">
          <div [hidden]= "!password?.errors.required">
              Password is required
          </div>
          <div [hidden]= "!password?.errors.minlength">
                Password must be atleast 6 characters long.
          </div>
        </div>
      </div>
      </form>
      </div>
      </div>
  
      <hr>
      <button type="button"  [disabled]= "!registerform.valid" (click)="getLogin1()" class="btn btn-primary float-right registerbtn loginbtn">Submit</button>
    </div>
  </form>
</div>
