<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </head>
 
   <div>
     <nav class="navbar navbar-inverse">
         <div class="container-fluid">
           <div class="navbar-header">
           <a class="navbar-brand">E-learning</a>
           </div>
           <ul class="nav navbar-nav">
           <li class="active"><a routerLink='/home'>Home</a></li>
           <li><a routerLink='/courses'>Courses</a></li>
           
           </ul>
           <ul class="nav navbar-nav navbar-right">
           <li><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
           <li><a routerLink="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
           </ul>
         </div>
         </nav>
       </div>
 
 <!-- App component change -->

<div class="backg">		
			</div>

<!--MY COURSES-->
 <div class="container-fluid">
   <div id="MY COURSES">
    <h3 class="text-center">TRENDING COURSES</h3>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail background">
				
          <p><strong>Node.js</strong></p>
          <p></p>
          <button class="btn buttonback">View Course</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail background">
			
          <p><strong>Angularjs</strong></p>
          <p></p>
          <button class="btn buttonback">View Course</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail background">
				
          <p><strong>Deep Learning</strong></p>
          <p></p>
          <button class="btn buttonback">View Course</button>
        </div>
      </div>
    </div>
  </div>
</div>
   <!--Footer-->
    <div class="footer-top">
		<div class="container">
			<div class="col-md-4 welcome">
				<h3>E-Learning</h3>
				<p>Understanding eLearning is simple. eLearning is learning utilizing electronic technologies to access educational curriculum outside of a traditional classroom.  In most cases, it refers to a course, program or degree delivered completely online.</p>
				
			</div>
			<div class="col-md-3 address">
				<h3>Address</h3>
          <p>Venturepact<br>
            Phagwara, Punjab
					</p>
                <p class="phone">Phone : 9988776655</p>
						<p><span id="1">Email : <a href="#">venturepact@venturepact.co.in</a></span>
						
					</p>
			</div>
			<div class="col-md-5 wthree-subscribe">
				<h3>Newsletter </h3>
				<p>Receive the latest course information.</p>
				<div class="w3-agileits-subscribe-form">
					<form action="#" method="post">
						<input type="text" placeholder="Email" name="Subscribe" required="">
						<button class="btn1 btn-info">Subscribe</button>
					</form>
				</div>
			</div>
				<div class="clearfix"></div>
		</div>
	</div>